body { background-color: rgb(192, 218, 239); font-family: "Quicksand", sans-serif, Arial, Helvetica; margin: 0px;}
main { margin: auto; max-width: 1100px; padding-left: 30px; }

.navbar {  overflow: hidden; background-color: #2b2828;}
.navbar a {float: left;color: #f2f2f2;text-align: center;padding: 14px 14px;text-decoration: none;font-size: 17px;}
.navbar a:hover {background-color: #ddd;color: black; transition: background-color .3s ease, box-shadow 0.3s ease, transform 0.2s ease;}
.navbar a.active {background-color: #226cc6;color: white;}
.menuitems {margin:  auto ;max-width: 1100px;}

a{color: inherit;}


img {width: 50%;  display: block; margin: auto; object-fit: cover; }
